@import "tailwindcss";

:root {
  --font-heading: var(--font-playfair);
  --font-body: var(--font-space-grotesk);
  --bg: #0a0a0a;
}

/* Apply to specific tags globally */
h1{
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
}

@keyframes photoReveal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}